@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

img {
  max-width: 100%;
  display: block;
}

:root {
  --min-picture-height: 300px;
  --min-page-width: 300px;

  --big-text-size: 6rem;
  --big-text-size-mobile: 4rem;

  --top-section-margin: 5rem;
  --inner-section-margin: 2rem;

  --section-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .1);

  --nav-links-color: #515151;
  --header-color: #E1E1E1;
  --header-title-color: #FFC53D;
  --title-color: #e1e1e1;
  --highlight-color: #1ff00c;
  --primary-color: #FF9A3D;
  --gradient-button: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
  --background-gradient: linear-gradient(275deg, white, #23272A)
}

html {
  scroll-behavior: smooth;
}

body {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #efefef;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

section>h2 {
  padding: 1rem;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  width: 100%;
  background-color: var(--header-color);
  color: var(--nav-links-color);
  font-weight: 700;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  min-width: 120px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.menu__item {
  color: var(--nav-links-color);
  padding: 1rem 2rem;
  outline: none;
  text-decoration: none;
}


/* BIG PICUTRE */
.picture-section {
  min-height: var(--min-picture-height);
  width: 100%;
}

.big-picture {
  width: 100%;
  display: block;
  min-height: var(--min-picture-height);
  background-color: gray;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--title-color);
  position: relative;
  overflow: hidden;
}

.big-picture>* {
  position: relative;
  z-index: 1;
}

.big-picture::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('images/filter.png');
  background-size: cover;
  position: absolute;
  mix-blend-mode: color-burn;
  opacity: .3;
  -webkit-animation: flow-from-left 1.5s forwards cubic-bezier(.38,-0.18,.79,1.69);
          animation: flow-from-left 1.5s forwards cubic-bezier(.38,-0.18,.79,1.69);
}

@-webkit-keyframes flow-from-left {
  0% {
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes flow-from-left {
  0% {
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.big-picture__title {
  padding: 0 1rem;
  font-size: var(--big-text-size);
  text-align: center;
  color: var(--header-title-color);
  -webkit-animation: flow-from-right 1.5s forwards cubic-bezier(.38,-0.18,.79,1.69);
          animation: flow-from-right 1.5s forwards cubic-bezier(.38,-0.18,.79,1.69);
}

@-webkit-keyframes flow-from-right {
  0% {
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes flow-from-right {
  0% {
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.big-picture__description {
  color: white;
  font-weight: 700;
}

.big-picture__description::after {
  content: '';
  width: 120%;
  height: 150%;
  top: -.5rem;
  left: -1.5rem;
  background-color: rgba(0, 0, 0, .4);
  -webkit-filter: blur(.2rem);
  filter: blur(.2rem);
  position: absolute;
  z-index: -1;
}

.big-picture__highlight {
  color: var(--highlight-color);
  font-size: 2rem;
  font-weight: 700;
}

.footer__title {
  text-align: center;
  margin-top: var(--inner-section-margin);
  font-weight: 300;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--inner-section-margin);
  /* min-width: var(--min-page-width); */
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 400px;
  width: 50%;
}

.primary__button {
  padding: .8rem 2rem;
  background-image: var(--gradient-button);
  color: var(--nav-links-color);
  font-weight: 700;
  text-decoration: none;
  outline: none;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 0.5rem 2px rgba(0, 0, 0, .4);
  box-shadow: 0 0.5rem 2px rgba(0, 0, 0, .4);
}

.primary__button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(0.2rem);
  -ms-transform: translateY(0.2rem);
  transform: translateY(0.2rem);
}

/* ABOUT ME  */
.about_me {
  margin-top: var(--top-section-margin);
}

.about_me>header {
  margin-bottom: var(--inner-section-margin);
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info {
  -ms-flex-item-align: center;
  align-self: center;
  width: 85%;
  padding: 2rem 1rem;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-shadow: var(--section-shadow);

  box-shadow: var(--section-shadow)
}

.info__image {
  border-radius: 1rem;
  width: 100px;
}

.info__details--name {
  font-weight: 700;
}

.primary-color {
  color: var(--primary-color);
  font-weight: 700;
}

.info__details {
  border-right: 1px dashed var(--primary-color);
  padding: 0 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.info__description {
  padding-left: 3rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}


/* SKILLS   */

.skills {
  margin-top: var(--top-section-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skills__wrapper {
  margin-top: var(--inner-section-margin);
  justify-self: center;
  width: 85%;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: var(--section-shadow);
  box-shadow: var(--section-shadow)
}

.skill {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5rem;
  border-right: 1px dashed var(--primary-color);
}

.skill:last-of-type {
  border: none;
}

.skill__img {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}


/* GALLERY */

.portfolio {
  margin-top: var(--top-section-margin);
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(175px, 1fr))[3];
  grid-template-columns: repeat(3, minmax(175px, 1fr));
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  height: 750px;
  margin-top: var(--inner-section-margin);
  -webkit-box-shadow: var(--section-shadow);
  box-shadow: var(--section-shadow)
}

.gallery>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.gallery>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2
}

.gallery>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3
}

.gallery>*:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1
}

.gallery>*:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2
}

.gallery>*:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3
}

.gallery>*:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1
}

.gallery>*:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2
}

.gallery>*:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3
}

.gallery__image {
  background-color: gray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  position: relative;
}

.gallery__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}


.gallery__image:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 2;
}

.gallery__image:hover::after {
  display: none;
}

.gallery__image:hover .gallery__image-caption {
  opacity: 1;
}

.gallery__image-caption {
  color: var(--primary-color);
  font-size: 2rem;
  position: absolute;
  font-weight: 700;
  bottom: 2rem;
  left: 3rem;
  opacity: 0;
  -webkit-transition: opacity .2s .4s ease-in-out;
  -o-transition: opacity .2s .4s ease-in-out;
  transition: opacity .2s .4s ease-in-out;
}


.gm-1 {
  background-image: url(./images/loli.jpg);
  background-position: 100% 10%;
}

.gm-2 {
  background-image: url(./images/franek.jpg);
  background-position: 90% 30%;
}

.gm-3 {
  background-image: url(./images/loli22.png);
}

.gm-4 {
  background-image: url(./images/niunia3.jpg);
  background-position: 50% 40%;
}

.gm-5 {
  background-image: url(./images/niunia2.jpg);
  background-position: 30% 40%;
}

.gm-6 {
  background-image: url(./images/franlolipark.jpg);
  background-position: center;
}

.gm-7 {
  background-image: url(./images/fran2.jpg);
  background-position: 50% 35%;
}

.horizontal-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.verital-2 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

/* CONTACT */

.contact {
  margin-top: var(--top-section-margin);
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  min-height: 200px;
  -webkit-box-shadow: var(--section-shadow);
  box-shadow: var(--section-shadow);
  margin-top: var(--inner-section-margin);

}

.form__info {
  background-color: var(--primary-color);
  border-radius: 1rem 0 0 1rem;
  padding: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__entry-arrow {
  background-color: var(--primary-color);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  left: calc(-1.5rem);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__info-text {
  width: 50%;
}

.fab {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: .5rem;
}


.bold {
  font-weight: 700;
}

.contact-email {
  text-decoration: underline;
}

/* FORM ENTRY */
.contact {
  margin-bottom: 1rem;
}

.form__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

.form__entry__title {
  font-size: 2rem;
}

.form__entry__message,
.form__entry__input {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  -webkit-box-shadow: inset -1rem .5rem .5rem rgba(0, 0, 0, 0.1);
  box-shadow: inset -1rem .5rem .5rem rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.form__entry__btn {
  margin: 0 auto;
  margin-top: var(--inner-section-margin);
  padding: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  width: 50%;
  border: none;
}

.form__entry label {
  margin: 2rem 0 .5rem;
  font-weight: 700;
}



/* MEDIA QUERIES */

@media (min-width: 1201px) {
  body {
    max-width: 1600px;
  }
}

@media (min-width: 851px) and (max-width: 1200) {
  body {
    width: 95%;
  }

  .info {
    width: 100%;
  }

  .skills__wrapper {
    width: 100%;
  }

  .skill {
    min-width: 200px;
  }
}

@media (max-width: 850px) {
  :root {
    font-size: 14px;
  }

  body {
    width: 100%;
  }

  nav {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  .logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100px;

  }

  .menu {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .menu__item {
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }

  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .info__details {
    border-bottom: 1px dashed var(--primary-color);
    border-right: none;
    padding: 1rem;
  }

  .info>*:not(:last-child) {
    margin-bottom: 1rem;
  }

  .info__image {
    width: 200px;
  }

  .skills__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .skills__wrapper>* {
    margin-bottom: .5rem;
  }

  .skills__wrapper:last-child {
    padding-bottom: 1.5rem;
  }

  .form__info-text {
    width: 100%;
  }
}



@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }

  body {
    width: 100%;
    max-width: 500px;
  }

  .menu__item {
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 80%;
    flex: 1 1 80%;
  }

  .footer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 12rem;
    padding: 1rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about_me {
    margin-top: 1rem;
  }

  .gallery {
    -ms-grid-columns: (minmax(120px, 1fr))[3];
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    ;
  }

  .gm-1 {
    background-position: 50% 50%;
  }

  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form__info {
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
  }

  .form__info-text {
    width: 70%;
    margin-bottom: 2rem;
  }

  .form__entry-arrow {
    top: -1.5rem;
    left: 6rem;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 10px;
  }

  body {
    width: 100%;
  }

  .big-picture {
    padding: 2rem;
  }
}